<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
			margin: 0;
			padding: 0;
		}

		h1 {
			font-weight: bold;
			font-size: 32px;
			margin: 0;
			padding: 20px;
			text-align: center;
		}

		p {
			margin: 20px;
			padding: 0;
			text-align: justify;
		}
	</style>
</head>
<body>
	<h1>این یک صفحه ساده HTML و CSS است</h1>
	<p>این یک پاراگراف تستی است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
	<p>در اینجا ما یک صفحه ساده با یک فایل CSS داخلی ایجاد کرده‌ایم. این یک روش ساده برای شروع طراحی وب است و به شما امکان می‌دهد تا به آرامی با HTML و CSS آشنا شوید.</p>
</body>
</html>